extends layout

block content
	if results.length == 0
		h1 No Results Found 
	for result in results
		//- if !result in results
		//- 	h1 No Results Found
		if result.organization === 'NHTSA'
			div.panel.panel-default
				div.panel-body
					img.image(src='images/NHTSA.jpg' class='img-responsive' alt='Responsive image')
					h3='Manufacturer: ' + result.manufacturer
					h6='Recall Issued: ' + result.recall_date
					h6='Product: ' + result.component_description
					h6='Hazard: ' + result.consequence_summary
					a(href=result.recall_url)
						h6=result.recall_url
		if result.organization === 'CPSC'
			div.panel.panel-default
				div.panel-body
					img.image(src='images/CPSC.jpg' class='img-responsive' alt='Responsive image')
					h3='Manufacturer: ' + result.manufacturers
					h6='Recall Issued: ' + result.recall_date
					h6='Product: ' + result.product_types
					h6='Hazard: ' + result.hazards
					a(href=result.recall_url)
						h6=result.recall_url
		if result.organization === 'FDA'
			div.panel.panel-default
				div.panel-body
					img.image(src='images/FDA.jpg' class='img-responsive' alt='Responsive image')
					h3=result.summary
					h6=result.recall_date
					h6: em=result.description
					a(href=result.recall_url)
						h6=result.recall_url
		if result.organization === 'USDA'
			div.panel.panel-default
				div.panel-body
					img.image(src='images/USDA.jpeg' class='img-responsive' alt='Responsive image')
					h3=result.summary
					h6=result.recall_date
					h6: em=result.description
					a(href=result.recall_url)
						h6=result.recall_url
